In [148]:
from db import DB
from credentials import DB_USERNAME, DB_PASSWORD, DATABASE_NAME, RDS_HOSTNAME
import pandas as pd

# Select the most recent 100 entries
QUERY = """SELECT * FROM orderbooks
           ORDER BY id DESC
           LIMIT 100;"""

db = DB(username=DB_USERNAME, password=DB_PASSWORD, host=RDS_HOSTNAME, database_name=DATABASE_NAME)
db.cursor.execute(QUERY)
col_headers = [x[0] for x in db.cursor.description]
json_data = []
the_data = db.cursor.fetchall()
for row in the_data:
    json_data.append(dict(zip(col_headers, row)))
df = pd.DataFrame(json_data)
df

,id,time,ticker,orderbook
0,305164,2023-12-11 21:00:04,INXD-23DEC11-B4562,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.7""..."
1,305163,2023-12-11 21:00:04,INXD-23DEC11-B4562,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.7""..."
2,305162,2023-12-11 21:00:04,INXD-23DEC11-B4562,{}
3,305161,2023-12-11 21:00:04,INXD-23DEC11-B4562,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.7""..."
4,305160,2023-12-11 21:00:04,INXD-23DEC11-B4587,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.21"": ""0"", ""no.2..."
...,...,...,...,...
95,305069,2023-12-11 20:59:47,NASDAQ100D-23DEC11-B16250,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.4""..."
96,305068,2023-12-11 20:59:47,INXD-23DEC11-B4612,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.4""..."
97,305067,2023-12-11 20:59:47,INXD-23DEC11-B4637,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.6""..."
98,305066,2023-12-11 20:59:47,INXD-23DEC11-B4612,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""110"", ""no...."
99,305065,2023-12-11 20:59:47,INXD-23DEC11-B4637,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.6""..."

In [136]:
t = df.iloc[0]
ob = t['orderbook']
ob = eval(ob)
ob

{'no.1': '100',
 'no.2': '23',
 'no.3': '0',
 'no.6': '0',
 'no.7': '0',
 'no.8': '0',
 'no.9': '0',
 'no.10': '0',
 'no.11': '0',
 'no.12': '0',
 'no.13': '0',
 'no.14': '0',
 'no.15': '0',
 'no.16': '0',
 'no.17': '0',
 'no.18': '0',
 'no.19': '0',
 'no.20': '0',
 'no.21': '0',
 'no.22': '0',
 'no.23': '0',
 'no.24': '0',
 'no.25': '0',
 'no.26': '0',
 'no.27': '0',
 'no.28': '0',
 'no.29': '0',
 'no.30': '0',
 'no.31': '0',
 'no.32': '0',
 'no.33': '0',
 'no.34': '0',
 'no.35': '0',
 'no.36': '0',
 'no.37': '0',
 'no.38': '0',
 'no.39': '0',
 'no.40': '0',
 'no.41': '0',
 'no.42': '0',
 'no.43': '0',
 'no.44': '0',
 'no.45': '0',
 'no.46': '0',
 'no.47': '0',
 'no.48': '0',
 'no.49': '0',
 'no.50': '200',
 'no.51': '200',
 'no.52': '0',
 'no.53': '200',
 'no.54': '0',
 'no.55': '211',
 'no.56': '200',
 'no.57': '20',
 'no.58': '201',
 'no.59': '200',
 'no.60': '400',
 'no.61': '200',
 'no.62': '0',
 'no.63': '300',
 'no.64': '200',
 'no.65': '200',
 'no.66': '400',
 'no.67': '500',
 'no.68': '700',
 'no.69': '2445',
 'no.70': '1800',
 'no.71': '700',
 'no.72': '500',
 'no.73': '700',
 'no.74': '762',
 'no.75': '123',
 'no.76': '151',
 'no.77': '0',
 'no.78': '0',
 'no.79': '0',
 'no.80': '0',
 'no.81': '0',
 'no.82': '0',
 'no.83': '0',
 'no.84': '0',
 'no.85': '0',
 'no.86': '0',
 'no.87': '0',
 'no.88': '0',
 'no.89': '0',
 'no.90': '0',
 'no.91': '0',
 'no.92': '0',
 'no.93': '0',
 'no.94': '0',
 'no.95': '0',
 'no.96': '0',
 'yes.1': '25',
 'yes.2': '0',
 'yes.3': '500',
 'yes.4': '0',
 'yes.5': '6752',
 'yes.6': '0',
 'yes.7': '0',
 'yes.8': '0',
 'yes.9': '0',
 'yes.10': '200',
 'yes.11': '200',
 'yes.12': '0',
 'yes.13': '207',
 'yes.14': '500',
 'yes.15': '1200',
 'yes.16': '900',
 'yes.17': '500',
 'yes.18': '500',
 'yes.19': '700',
 'yes.20': '700',
 'yes.21': '0',
 'yes.22': '0',
 'yes.23': '0',
 'yes.24': '0',
 'yes.26': '0',
 'market_ticker': 'INXD-23DEC11-B4637'}

In [2]:
# imports
from kalshi_collector import KalshiCollector
from credentials import KALSHI_EMAIL, KALSHI_PASSWORD

ticker="GPT%-23DEC31"

kc = KalshiCollector(ticker=ticker, username=KALSHI_EMAIL, password=KALSHI_PASSWORD)
orderbook = kc.collect_orderbook()
orderbook

{'bid': [[1, 14901]],
 'ask': [[1, 6000],
  [2, 1000],
  [3, 1050],
  [55, 1000],
  [65, 1000],
  [66, 20],
  [79, 20],
  [81, 20],
  [82, 900],
  [89, 458],
  [90, 20],
  [91, 20],
  [92, 20],
  [95, 350],
  [96, 662],
  [97, 800],
  [98, 333]]}