In [6]:
from db import DB
from credentials import DB_USERNAME, DB_PASSWORD, DATABASE_NAME, RDS_HOSTNAME
import pandas as pd

QUERY = """SELECT * from orderbooks;"""

db = DB(username=DB_USERNAME, password=DB_PASSWORD, host=RDS_HOSTNAME, database_name=DATABASE_NAME)
db.cursor.execute(QUERY)
col_headers = [x[0] for x in db.cursor.description]
json_data = []
the_data = db.cursor.fetchall()
for row in the_data:
    json_data.append(dict(zip(col_headers, row)))
df = pd.DataFrame(json_data)
df

Empty DataFrame
Columns: []
Index: []

In [2]:
# imports
from kalshi_collector import KalshiCollector
from credentials import KALSHI_EMAIL, KALSHI_PASSWORD

ticker="GPT%-23DEC31"

kc = KalshiCollector(ticker=ticker, username=KALSHI_EMAIL, password=KALSHI_PASSWORD)
orderbook = kc.collect_orderbook()
orderbook

{'bid': [[1, 14901]],
 'ask': [[1, 6000],
  [2, 1000],
  [3, 1050],
  [55, 1000],
  [65, 1000],
  [66, 20],
  [79, 20],
  [81, 20],
  [82, 900],
  [89, 458],
  [90, 20],
  [91, 20],
  [92, 20],
  [95, 350],
  [96, 662],
  [97, 800],
  [98, 333]]}