In [209]:
from db import DB
from credentials import DB_USERNAME, DB_PASSWORD, DATABASE_NAME, RDS_HOSTNAME
import pandas as pd

# Select the most recent 100 entries
QUERY = """SELECT * FROM orderbooks
           ORDER BY id DESC
           LIMIT 100;"""

db = DB(username=DB_USERNAME, password=DB_PASSWORD, host=RDS_HOSTNAME, database_name=DATABASE_NAME)
db.cursor.execute(QUERY)
col_headers = [x[0] for x in db.cursor.description]
json_data = []
the_data = db.cursor.fetchall()
for row in the_data:
    json_data.append(dict(zip(col_headers, row)))
df = pd.DataFrame(json_data)
df

,id,time,ticker,orderbook
0,878449,2023-12-13 20:42:15,NASDAQ100D-23DEC13-B16550,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""200"", ""no...."
1,878448,2023-12-13 20:42:15,INXDU-23DEC13-T4699.99,"{""no.20"": ""1"", ""no.25"": ""1"", ""no.30"": ""0"", ""no..."
2,878447,2023-12-13 20:42:15,INXD-23DEC13-B4687,"{""no.1"": ""100"", ""no.2"": ""0"", ""no.3"": ""0"", ""no...."
3,878446,2023-12-13 20:42:15,INXD-23DEC13-B4712,"{""no.1"": ""50"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.2..."
4,878445,2023-12-13 20:42:15,INXDU-23DEC13-T4699.99,"{""no.20"": ""1"", ""no.25"": ""1"", ""no.30"": ""0"", ""no..."
...,...,...,...,...
95,878354,2023-12-13 20:42:08,INXD-23DEC13-B4662,"{""no.1"": ""0"", ""no.55"": ""1000"", ""no.60"": ""1002""..."
96,878353,2023-12-13 20:42:08,INXD-23DEC13-B4687,"{""no.1"": ""100"", ""no.2"": ""0"", ""no.3"": ""0"", ""no...."
97,878352,2023-12-13 20:42:08,INXD-23DEC13-B4712,"{""no.1"": ""0"", ""no.2"": ""0"", ""no.3"": ""0"", ""no.25..."
98,878351,2023-12-13 20:42:08,INXDU-23DEC13-T4699.99,"{""no.20"": ""1"", ""no.25"": ""1"", ""no.30"": ""0"", ""no..."
99,878350,2023-12-13 20:42:08,INXD-23DEC13-B4687,"{""no.1"": ""100"", ""no.2"": ""0"", ""no.3"": ""0"", ""no...."

In [210]:
# Get the schema for the orderbook table
QUERY = """SELECT column_name, data_type, character_maximum_length
           FROM INFORMATION_SCHEMA.COLUMNS
           WHERE table_name = 'orderbooks';"""
db = DB(username=DB_USERNAME, password=DB_PASSWORD, host=RDS_HOSTNAME, database_name=DATABASE_NAME)
db.cursor.execute(QUERY)
col_headers = [x[0] for x in db.cursor.description]
json_data = []
the_data = db.cursor.fetchall()
for row in the_data:
    json_data.append(dict(zip(col_headers, row)))
df = pd.DataFrame(json_data)
df

  COLUMN_NAME DATA_TYPE  CHARACTER_MAXIMUM_LENGTH
0          id       int                       NaN
1   orderbook      json                       NaN
2      ticker   varchar                      50.0
3        time  datetime                       NaN

In [190]:
# get all unique tickers from the db
QUERY = """SELECT DISTINCT ticker FROM orderbooks;"""
db.cursor.execute(QUERY)
col_headers = [x[0] for x in db.cursor.description]
json_data = []
the_data = db.cursor.fetchall()
for row in the_data:
    json_data.append(dict(zip(col_headers, row)))
df = pd.DataFrame(json_data)
list(df['ticker'])

['INXD-23DEC11-B4687',
 'INXD-23DEC11-B4662',
 'INXD-23DEC11-B4637',
 'INXD-23DEC11-B4612',
 'INXD-23DEC11-B4587',
 'INXD-23DEC11-B4562',
 'NASDAQ100D-23DEC11-B16350',
 'NASDAQ100D-23DEC11-B16250',
 'NASDAQ100D-23DEC11-B16150',
 'NASDAQ100D-23DEC11-B16050',
 'NASDAQ100D-23DEC11-B15950',
 'NASDAQ100D-23DEC11-B15850',
 'INXD-23DEC12-B4562',
 'INXD-23DEC12-B4537',
 'INXD-23DEC12-B4687',
 'INXD-23DEC12-B4662',
 'INXD-23DEC12-B4637',
 'INXD-23DEC12-B4612',
 'INXD-23DEC12-B4587',
 'NASDAQ100D-23DEC12-B16550',
 'NASDAQ100D-23DEC12-B16450',
 'NASDAQ100D-23DEC12-B16350',
 'NASDAQ100D-23DEC12-B16250',
 'NASDAQ100D-23DEC12-B16150',
 'NASDAQ100D-23DEC12-B16050',
 'NASDAQ100D-23DEC12-B15950',
 'INXD-24DEC31-T5799.99',
 'INXD-24DEC31-B5700',
 'INXD-24DEC31-B5500',
 'INXD-24DEC31-B5300',
 'INXD-24DEC31-B5100',
 'INXD-24DEC31-B4900',
 'INXD-24DEC31-B4700',
 'INXD-24DEC31-B4500',
 'INXD-24DEC31-B4300',
 'INXD-24DEC31-B4100',
 'INXD-24DEC31-B3900',
 'INXD-24DEC31-B3700',
 'INXD-24DEC31-B3500',
 'INXD-24DEC31-B3300',
 'INXD-24DEC31-T3200',
 'NASDAQ100D-23DEC15-B16650',
 'NASDAQ100D-23DEC15-B16550',
 'NASDAQ100D-23DEC15-B16450',
 'NASDAQ100D-23DEC15-B16350',
 'NASDAQ100D-23DEC15-B16250',
 'NASDAQ100D-23DEC15-B16150',
 'NASDAQ100D-23DEC15-B16050',
 'INXD-23DEC15-B4737',
 'INXD-23DEC15-B4712',
 'INXD-23DEC15-B4687',
 'INXD-23DEC15-B4662',
 'INXD-23DEC15-B4637',
 'INXD-23DEC15-B4612',
 'INXD-23DEC15-B4587',
 'INXD-23DEC15-B4562',
 'INXD-23DEC15-B4537',
 'NASDAQ100DU-23DEC13-T16599.99',
 'NASDAQ100DU-23DEC13-T16499.99',
 'NASDAQ100DU-23DEC13-T16399.99',
 'NASDAQ100DU-23DEC13-T16299.99',
 'NASDAQ100DU-23DEC13-T16199.99',
 'NASDAQ100D-23DEC13-B16650',
 'NASDAQ100D-23DEC13-B16550',
 'NASDAQ100D-23DEC13-B16450',
 'NASDAQ100D-23DEC13-B16350',
 'NASDAQ100D-23DEC13-B16150',
 'INXDU-23DEC13-T4674.99',
 'INXDU-23DEC13-T4649.99',
 'INXDU-23DEC13-T4624.99',
 'INXDU-23DEC13-T4599.99',
 'INXD-23DEC13-B4687',
 'INXD-23DEC13-B4662',
 'INXD-23DEC13-B4637',
 'INXD-23DEC13-B4612',
 'INXD-23DEC13-B4587']

In [197]:
t = df.iloc[0]
ob = t['orderbook']
ob = eval(ob)
ob

{'no.63': '0',
 'no.64': '400',
 'no.66': '0',
 'no.67': '300',
 'no.69': '0',
 'no.70': '200',
 'no.71': '0',
 'no.72': '0',
 'no.73': '0',
 'no.76': '10',
 'yes.1': '1500',
 'yes.11': '400',
 'yes.14': '300',
 'yes.15': '0',
 'yes.16': '0',
 'yes.17': '200',
 'yes.18': '0',
 'yes.20': '100',
 'market_ticker': 'NASDAQ100D-23DEC13-B16450'}

In [2]:
# imports
from kalshi_collector import KalshiCollector
from credentials import KALSHI_EMAIL, KALSHI_PASSWORD

ticker="GPT%-23DEC31"

kc = KalshiCollector(ticker=ticker, username=KALSHI_EMAIL, password=KALSHI_PASSWORD)
orderbook = kc.collect_orderbook()
orderbook

{'bid': [[1, 14901]],
 'ask': [[1, 6000],
  [2, 1000],
  [3, 1050],
  [55, 1000],
  [65, 1000],
  [66, 20],
  [79, 20],
  [81, 20],
  [82, 900],
  [89, 458],
  [90, 20],
  [91, 20],
  [92, 20],
  [95, 350],
  [96, 662],
  [97, 800],
  [98, 333]]}